body{
    background-color:bisque;
    line-height: 2.5;
    font-family: sans-serif;
    text-align:justify;
    margin: 2em;
    padding: 2em;
    color:brown;
    border: solid 1px;
}
h1{
    text-align: center;
    font-size: ;
}

h2{
    text-align: center;
    color:brown;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 55%;
    background-color:blueviolet;
    display: block;
    margin:auto;
}

button a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue
    text-decoration: none;
}

hr{
    background-color:blueviolet;
    height: 1px;
    border: none;
}

img{
    display:block;
    margin:auto;
    width: 40%;
}
